.book-list{
    /* background-color: #eee; */
    width: 100%;
}
.book-preview{
    display: flex;
    justify-content: center;
    padding:10px;
    gap:6px;
    justify-content: center;
    flex-wrap: wrap;
}
.book-preview img{
    border-radius: 5px;
}
.book-preview article{
    background-color: #eee;
    border-radius: 10px;
    width: 20vw;
    min-width: 100px;
    min-height: 100px;
    padding: 10px;
    display: grid;
    grid-template-rows: auto  1fr;
}
.book-filter{
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    

}
.book-filter form{
    width:50%;
    display: grid;
    justify-items: stretch;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr auto;
    gap: 6px
}

